<div class="flex w-[30rem] h-16 justify-center items-center mb-16">
    <div class="flex">
      <input 
        type="text" 
        name="addTask" 
        id="addTask" 
        class="bg-zinc-700 rounded-l-md h-10 w-[27rem] focus-visible:outline-none text-zinc-50 px-4" 
        placeholder="Add Task" 
        [(ngModel)]="title" 
        (input)="handleTitleChange($event)"
      />
      <button 
        class="w-12 text-zinc-900 bg-zinc-400 h-10 flex justify-center items-center rounded-r-md"
        (click)="handleAddTask()"
      >
        Add
      </button>
    </div>
  </div>
  