<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
    <title>Layout</title>
</head>
<body>
    <div id="header-container">
        <div id="top-header">
            <div id="ribbon-container">
                <div></div>
                <div></div>
            </div>
            <div id="language-social-menu">
                <div id="social-menu">
                    <img src="./assets/facebook.png" class="social-logo" />
                    <img src="./assets/youtube.png" class="social-logo" />
                </div>
                <div id="language-menu">
                    <span>PL</span>
                    <span>FR</span>
                    <span>DE</span>
                </div>
            </div>
        </div>
        <div id="bottom-header">
            <image src="./assets/logo.svg" id="logo"></image>
            <div id="menu">
                <span>FIRMA</span>
                <span>AKTUALNOŚCI</span>
                <span>ZAKRES USŁUG</span>
                <span>REALIZACJE</span>
                <span>FLOTA</span>
                <span>KONTAKT</span>
            </div>
        </div>
    </div>
    <div id="content-grid">
        <div class="cell" id="cell-1">
            <div class="cell-overlay"></div>
        </div>
        <div class="cell" id="cell-2">
            <div class="cell-overlay">
                <div class="cell-content">
                    <span class="title">SPECJALIŚCI OD DUŻYCH GABARYTÓW I CIĘŻARÓW</span>
                    <hr>
                    <span class="subtitle">KOMPLEKSOWE ROZWIĄZANIA</span>
                    <span class="content">Z UŻYCIEM TRANSPORTU SZYNOWEGO, DROGOWEGO I WODNEGO.</span>
                    <span class="subtitle">KOMPLETNA ORGANIZACJA</span>
                    <span class="content">ŁAŃCUCHA LOGISTYCZNEGO, <br> W KRAJU I ZA GRANICĄ.</span>
                </div>
            </div>
        </div>
        <div class="cell" id="cell-3">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-4">
            <div class="cell-overlay"></div>
        </div>
        <div class="cell" id="cell-5">
            <div class="cell-content">
                <div class="title-box">
                    <span class="title">FIRMA</span> <span class="title-small">HISTORIA | CERTYFIKATY | REFERENCJE </span>
                </div>
                <hr>
                <span class="content-large">                 
                    INNOWACYJNE ROZWIĄZANIA <br>POPARTE<br> <b>150-LETNIM DOŚWIADCZENIEM</b>
                </span>
            </div>
        </div>
        <div class="cell" id="cell-6">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-7">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-8"></div>
        <div class="cell" id="cell-9">
            <div class="cell-overlay">
                <div class="cell-content">
                    <span class="title">DAHER PROJECTS DOSTARCZA NA KONTYNENT AMERYKI PÓŁNOCNEJ</span>
                    <hr>
                    <span class="content">
                        Ostatnie projekty DAHER PROJECTS Sp. z o.o. miały miejsce nie tylko na terenie Polski czy Europy, ale również realizowaliśmy dostawy do USA i Kanady.</span>
                </div>
            </div>
        </div>
        <div class="cell" id="cell-10">
            <div class="cell-overlay">
                <div class="cell-content">
                    <span class="title">AKTUALNOŚCI</span>
                    <hr>
                    <span class="content">
                        Wyspecjalizowaliśmy się w realizacji najbardziej skomplikowanych zleceń, które robią naprawdę duże wrażenie! Jednak oprócz naszych usług, pragniemy również podzielić się innymi wydarzeniami ze świata DAHER.</span>
                </div>
            </div>
        </div>
        <div class="cell" id="cell-11">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-12">
            <div class="cell-overlay">
                <div class="cell-content">
                        <span class="title">ZAKRES USŁUG</span> 
                        <span class="title-small">TRANSPORT DROGOWY | TRANSPORT KOLEJOWY | TRANSPORT WODNY - ŚRÓDLĄDOWY, MORSKI I OCEANICZNY TRANSPORT SPECJALISTYCZNY | ŁAŃCUCHY LOGISTYCZNE | ZAŁADUNEK/PRZEŁADUNEK
                            NADZÓR NAD TRANSPORTEM | PROJEKTOWANIE, EKSPERTYZY, REALIZACJA | WSPARCIE </span>
                    <hr>
                    <span class="content-large">                 
                        KOMPLEKSOWE USŁUGI TRANSPORTOWE PROJEKTÓW CARGO I NIE TYLKO
                    </span>
                </div>
            </div>
        </div>
        <div class="cell" id="cell-13">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-14"></div>
        <div class="cell" id="cell-15">
            <div class="cell-overlay">
            </div>
            <div class="cell-overlay">
                <div class="cell-content">
                    <span class="title">AKTUALNOŚCI</span>
                    <hr>
                    <span class="content-large">
                        GWARANCJA FACHOWEJ REALIZACJI NAJBARDZIEJ WYMAGAJĄCYCH ZLECEŃ</span>
                </div>
            </div>
        </div>
        <div class="cell" id="cell-16">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-17">
            <div class="cell-overlay">
                <div class="cell-content">
                    <span class="title">FLOTA</span> 
                    <span class="title-small">POJAZDY SZYNOWE | POJAZDY DROGOWE | KONWÓJ TRANSPORTU </span>
                    <hr>
                    <span class="content-large">                 
                        NOWOCZESNA I WYSPECJALIZOWANA FLOTA POJAZDÓW
                    </span>
                </div>
            </div>
        </div>
        <div class="cell" id="cell-18">
            <div class="cell-overlay">
            </div>
        </div>
        <div class="cell" id="cell-19">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-20">
            <div class="cell-overlay">
                <div class="cell-content"></div>
            </div>
        </div>
        <div class="cell" id="cell-21">
            <div class="cell-content">
                <span class="content-large">                     
                    SERDECZNIE
                    ZAPRASZAMY
                    WSZYSTKICH
                    ZAINTERESOWANYCH NASZĄ OFERTĄ.
                </span>
            </div>
        </div>
        <div class="cell" id="cell-22">
            <div class="cell-content">
                <span class="title">KONTAKT</span>
                <hr>
                <span class="content">
                    DAHER Projects, to nie tylko najwyższej jakości usługi przewozowe ładunków o dużych gabarytach i masach, ale również profesjonalna obsługa poparta 150-letnim doświadczeniem. Potrafimy zrealizować każde, nawet najtrudniejsze przedsięwzięcie transportowe, nasi inżynierowie są do Państwa dyspozycji i zawszę chętnie służą pomocą oraz fachową poradą.
                </span>
            </div>
        </div>
        <div class="cell" id="cell-23"></div>
    </div>
    <div id="footer">
        <image src="./assets/logo_white.png" id="logo"></image>
        <span>POLITYKA PRYWATNOŚCI / RODO <br> IMPRESSUM</span>
    </div>
</body>
</html>